<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <%= link_to "MpBlog", root_path, class: "navbar-brand me-5 border p-2 py-3 bg-light rounded-circle" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "New Post", new_post_path,  class: "nav-link btn btn-ouline-success" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, class: "btn btn-light", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path,  class: "nav-link btn btn-outline-secondary" %>
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>