<% @users.each do |user| %>
    <%= link_to user_path(user) do %>
        <div class="user-card">
            <div>
                <img src="<%= user.photo %>" alt="<%= user.name %>" class="img">
            </div>
            <div class="user-info">
                <h2><%= user.name  %></h2>
                <p>Number of post: <span class="post_number"><%= user.posts_counter || 0  %></span></p>
            </div>
        </div>
    <% end %>
<% end %>