<%= link_to user_path(user) do %>
    <div class="user-card">
        <div>
            <img src="<%= user.photo %>" alt="<%= user.name %>" class="img">
        </div>
        <div class="user-info">
            <h3><%= user.name  %></h3>
            <p>Number of post: <span class="post_number"><%= user.posts_counter || 0  %></span></p>
        </div>
    </div>
<% end %>
